<ul>
  <li><a href="/header">Header Parser</a></li>
  <li><a href="/time">Timestamp Service</a></li>
  <li><a href="/short">URL Shortener</a></li>
  <li><a href="/image">Image Search Abstraction Layer</a></li>
  <li><a href="/file">File Metadata Viewer</a>: <a href="/file/viewer">Example</a></li>
</ul>
