<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>APIs</title>
</head>
<header>
  <nav>
    <a href="/">Back to Index</a>
  </nav>
</header>
<body>
  {{{body}}}
</body>
</html>
